<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [192]:
#ejemplo 1
my_string1 = 'Welcome to'
my_string2 = "numerical methods class"
print(my_string1 + ' ' + my_string2)

Welcome to numerical methods class

An integer is a round number with no values after the decimal point.

In [193]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [41]:
#ejemplo 2
my_int = 1007
print(my_int)
print(type(my_int))

1007
<class 'int'>

The built-in function int() can convert a string into an integer.

In [194]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [42]:
#ejemplo 3
my_string = "7010"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [195]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [43]:
#ejemplo 4
my_string = "7010"
print(type(my_string))
my_float = float(my_string)
print(type(my_float))
print(my_float)

<class 'str'>
<class 'float'>
7010.0

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [196]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

In [44]:
#ejemplo 5
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [197]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [45]:
#ejemplo 6
print("Addition ", 100+7)
print("Subtraction ", 7-100)
print("Multiplication ", 7*10)
print("Division ", 10/7)
print('exponent', 7**10)

Addition  107
Subtraction  -93
Multiplication  70
Division  1.4285714285714286
exponent 282475249

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [198]:
print(7/10)
print(1.0/3)

0.7
0.3333333333333333

In [46]:
#ejemplo 7
print(8/100)
print(5/3)

0.08
1.6666666666666667

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [199]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [47]:
#ejemplo 8
my_list = ['metodos', 'numericos', 7,10,2000]
print(my_list)

['metodos', 'numericos', 7, 10, 2000]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [200]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [48]:
#ejemplo 9
my_list = ['metodos', 'numericos', 7,10,2000]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])
print(my_list[4])

5
metodos
2000
2000

You can also change the elements in the list by accessing an index and assigning a new value.

In [201]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [49]:
#ejemplo 10
my_list = ['metodos', 'numericos', 7,10,2000]
my_list[2] = 'Julian Moncada'
print(my_list)

['metodos', 'numericos', 'Julian Moncada', 10, 2000]

A list can also be sliced with a colon:

In [202]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [50]:
#ejemplo 11
my_list = ['metodos', 'numericos', 7,10,2000]
print(my_list[3:5])

[10, 2000]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [203]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [51]:
#ejemplo 12
print(my_list[3:])

[10, 2000]

And all elements up to but excluding index 3:

In [204]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [52]:
#ejemplo 13
print(my_list[:2])

['metodos', 'numericos']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [205]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [53]:
#ejemplo 14
my_list = ['metodos', 'numericos', 7,10,2000]
my_list.append('Hello')
print(my_list)

['metodos', 'numericos', 7, 10, 2000, 'Hello']

In [206]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [54]:
#ejemplo 15
my_list.remove('numericos')
print(my_list)

['metodos', 7, 10, 2000, 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [207]:
my_tuple = ('Welcome','to','QuantConnect')

In [55]:
#ejemplo 16
my_tuple = ('metodos', 'numericos', 7,10,2000)
print(my_tuple)

('metodos', 'numericos', 7, 10, 2000)

Just like a list, a tuple can be sliced by using index.

In [208]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [56]:
#ejemplo 17
my_tuple = ('metodos', 'numericos', 7,10,2000)
print(my_tuple[2:])

(7, 10, 2000)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [209]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'FB', 'AAPL', 'IBM', 'GOOG'}

In [57]:
#ejemplo 18
stock_list = ['2000','adios','7','2000','7','a','F','adios']
stock_set = set(stock_list)
print(stock_set)

{'F', 'adios', '2000', 'a', '7'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [210]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [59]:
#ejemplo 19
my_dic = {'1':'A', '2':'bb', '3':'ccc'}

In [212]:
print(my_dic['GOOG'])

Alphabet Company

In [60]:
#ejemplo 20
print(my_dic['2'])

bb

After defining a dictionary, we can access any value by indicating its key in brackets.

In [213]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [61]:
#ejemplo 21
my_dic['Julian'] = 'Moncada'
print(my_dic['Julian'])

Moncada

We can also change the value associated with a specified key:

In [214]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [62]:
#ejemplo 22
print(my_dic.keys())

dict_keys(['1', '2', '3', 'Julian'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [215]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [63]:
#ejemplo 23
my_str = 'Julian Esteban Moncada Moreno'
print(my_str[4:20])

an Esteban Monca

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [216]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [64]:
#ejemplo 24
print('Ideas para la producción del material del proyecto'.count('a'))
print('Comparar los valores experimentales obtenidos por los experimentos'.find('e'))
print('Tienen como finalidad conseguir una elevada resistencia '.replace('e','u'))

6
18
Tiunun como finalidad consuguir una uluvada rusistuncia

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [217]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [65]:
#ejemplo 25
Time = '2021-10-19 7:48:32'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
minute = time.split(':')[1]
print(hour)
print (minute)

2021-10-19 7:48:32
7
48

We can replace parts of a string by our variable. This is called string formatting.

In [218]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [66]:
#ejemplo 26
my_time = 'Hour: {}, Minute:{}'.format('07','53')
print(my_time)

Hour: 07, Minute:53

Another way to format a string is to use the % symbol.

In [219]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [67]:
#ejemplo 27
print('the e number is %f'%2.71828)
print('%s im %s'%('hello,','Julian'))

the e number is 2.718280
hello, im Julian

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [220]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [68]:
#ejemplo 28
print(5 == 3)
print(2 == 2)
print(7 != 0)
print(8 >= 3)
print(8 >= 8)

False
True
True
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [221]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [69]:
#ejemplo 29
print(7 > 1 and 5 > 1)
print(7 > 1 and 10 < 8) 
print(3 > 1 or 1 < 2)
print(4 < 1 and 3 < 5)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [222]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [70]:
#ejemplo 30
print((5 > 2 or 2 < 1) and (3!=3 and 8>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(7 > 5 or 2 < 5 and (2!=3 and 8>7) and not ( 2 < 2 or 2 < 7 and (10!=3 and 7>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [223]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [71]:
#ejemplo 31
i = 7010
if i == 7010:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [224]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [72]:
#ejemplo 32
p = 10 > 11
q = 3 > 4
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [225]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [73]:
#ejemplo 33
i = 0
while i <= 7:
    print(i)
    i += 1

0
1
2
3
4
5
6
7

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [226]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [74]:
#ejemplo 34
for i in [10,11,12]:
    print(i)

10
11
12

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [227]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [75]:
#ejemplo 35
universidades = ['Nacional','Antioquia','Valle','Andes','Javeriana','UIS', 'UTP', 'UPTC']
selected = ['Nacional','UIS']
new_list = []
for i in universidades:
    if i not in new_list:
        new_list.append(i)
print(universidades)

['Nacional', 'Antioquia', 'Valle', 'Andes', 'Javeriana', 'UIS', 'UTP', 'UPTC']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [228]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [76]:
#ejemplo 36
universidades = ['Nacional','Antioquia','Valle','Andes','Javeriana','UIS', 'UTP', 'UPTC']
for i in universidades:
    print(i)
    if i == 'Andes':
        break

Nacional
Antioquia
Valle
Andes

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [229]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [77]:
#Ejemplo 37
universidades = ['Nacional','Antioquia','Valle','Andes','Javeriana','UIS', 'UTP', 'UPTC']
for i in universidades:
    if i == 'Valle':
        continue
    print(i)

Nacional
Antioquia
Andes
Javeriana
UIS
UTP
UPTC

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [230]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [78]:
#ejemplo 38
squares = []
for i in [7,10,2000,25,3]:
    squares.append(i**2)
print(squares)

[49, 100, 4000000, 625, 9]

Using list comprehension:

In [231]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [79]:
#ejemplo 39
list = [7,10,2000,25,3]
squares = [i**2 for i in list]
print(squares)

[49, 100, 4000000, 625, 9]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [232]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [80]:
#ejemplo 40
universidades = ['Nacional','Antioquia','Valle','Andes','Javeriana','UIS', 'UTP', 'UPTC', 'UIS']
selected = ['Valle','UIS']
new_list = [i for i in universidades if i in selected]
print(new_list)

['Valle', 'UIS', 'UIS']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [233]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [81]:
#ejemplo 41
print([(x, y) for x in [7,9,5,4] for y in [5,4,7] if x < y])
print([str(x)+' vs '+str(y) for x in ['andes','Naciona'] for y in ['F','V'] if x!=y])

[(5, 7), (4, 5), (4, 7)]
['andes vs F', 'andes vs V', 'Naciona vs F', 'Naciona vs V']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [234]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [82]:
#ejemplo 42
def resta(x,y):
    return x-y
print(resta(2,3))
print(resta(5,10))

-1
-5

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [235]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [83]:
#ejemplo 43
def nombre():
    print('Julian Moncada')
nombre()

Julian Moncada

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [236]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [84]:
#ejemplo 44
print(range(7))
print(range(0,10))
print(range(2,8,10))

range(0, 7)
range(0, 10)
range(2, 8, 10)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [237]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [85]:
#ejemplo 45
universidades = ['Nacional','Antioquia','Valle','Andes','Javeriana','UIS', 'UTP', 'UPTC', 'UIS']
print('The length of universidades is {}'.format(len(universidades)))
for i in range(len(universidades)):
    print(universidades[i])

The length of universidades is 9
Nacional
Antioquia
Valle
Andes
Javeriana
UIS
UTP
UPTC
UIS

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [238]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [86]:
#ejemplo 46
print(list)
del list
list

[7, 10, 2000, 25, 3]

list

In [239]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [87]:
#ejemplo 47
universidades = ['Nacional','Antioquia','Valle','Andes','Javeriana','UIS', 'UTP', 'UPTC', 'UIS']
list(map(len,universidades))

[8, 9, 5, 5, 9, 3, 3, 4, 3]

In [240]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [88]:
#ejemplo 48
universidades = ['Nacional','Antioquia','Valle','Andes','Javeriana','UIS', 'UTP', 'UPTC', 'UIS']
print(list(map(len,universidades)))

[8, 9, 5, 5, 9, 3, 3, 4, 3]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [241]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [89]:
#ejemplo 49
list(map(lambda i: i**3, range(15)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

map() can be applied to more than one list. The lists have to have the same length.

In [242]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [90]:
#ejemplo 50
list(map(lambda x, y: x/y, [7,5,3,1,8],[5,4,3,7,4]))

[1.4, 1.25, 1.0, 0.14285714285714285, 2.0]

**sorted()** takes a list or set and returns a new sorted list

In [243]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [91]:
#ejemplo 51
sorted([500,150,69,151,1])

[1, 69, 150, 151, 500]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [244]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [92]:
#ejemplo 51
price_list = [('unal',144000),('andes',17000000),('valle',250000),('UIS',1500000),('Javeriana',15000000)]
sorted(price_list, key = lambda x: x[1])

[('unal', 144000),
 ('valle', 250000),
 ('UIS', 1500000),
 ('Javeriana', 15000000),
 ('andes', 17000000)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [245]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [93]:
#ejemplo 52
universidades = [('unal',144000),('andes',17000000),('valle',250000),('UIS',1500000),('Javeriana',15000000)]
sorted(universidades, key = lambda x: x[1],reverse = True)

[('andes', 17000000),
 ('Javeriana', 15000000),
 ('UIS', 1500000),
 ('valle', 250000),
 ('unal', 144000)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [246]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [94]:
#ejemplo 53
universidades = [('unal',144000),('andes',17000000),('valle',250000),('UIS',1500000),('Javeriana',15000000)]
universidades.sort(key = lambda x: x[1])
print(universidades)

[('unal', 144000), ('valle', 250000), ('UIS', 1500000), ('Javeriana', 15000000), ('andes', 17000000)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [96]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [103]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [100]:
#ejemplo54
Nacional = stock('unal', 153.69, 184.09, 20199375)
andes = stock('UA', 198.7, 711.7, 1991616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [247]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

1.0
0.0006573181419806673

In [104]:
#ejemplo 55
apple.ticker
google.print_return()
google.update(100,200)
google.print_return()

0.014465338822744034
1.0

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [248]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [105]:
#ejemplo 56
Nacional.rectora ='Dolly Montoya '
Nacional.rectora

'Dolly Montoya '

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [249]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [106]:
#ejemplo 57
dir(Nacional)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'open',
 'print_return',
 'rate_return',
 'rectora',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [250]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [107]:
#ejemplo 58
class child(stock):
    def __init__(self,name):
        self.name = name

In [251]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [110]:
#ejemplo 59
Julian = child('aa')
print(aa.name)
aa.update(1,21)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
1
21
20.0
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [253]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [254]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [112]:
#ejemplo 60
numeros = [-15.5, 100.5, 16.2, 300.5, 70.9, 89.1]
price_array = np.array(numeros)
print(price_array, type(price_array))

[-15.5 100.5  16.2 300.5  70.9  89.1] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [255]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [113]:
#ejemplo 61
Ar = np.array([[2,3,7,8],[2,7,4,9],[5,7,8,15]])
print(Ar, type(Ar))

[[ 2  3  7  8]
 [ 2  7  4  9]
 [ 5  7  8 15]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [256]:
print(Ar.shape)

(2, 2)

In [114]:
#ejemplo 62 tamaño de la matriz creada
print(Ar.shape)

(3, 4)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [257]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [115]:
#ejemplo 63
print(Ar[0])
print(Ar[2])

[2 3 7 8]
[ 5  7  8 15]

If we want to access the matrix by column instead:

In [258]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [116]:
#ejemplo 64
print('the first column: ', Ar[:,0])
print('the four column: ', Ar[:,3])

the first column:  [2 2 5]
the four column:  [ 8  9 15]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [259]:
print(np.log(Ar))

[[0.         1.09861229]
 [0.69314718 1.38629436]]

In [117]:
#ejemplo 65
print(np.log(Ar))

[[0.69314718 1.09861229 1.94591015 2.07944154]
 [0.69314718 1.94591015 1.38629436 2.19722458]
 [1.60943791 1.94591015 2.07944154 2.7080502 ]]

Other functions return a single value:

In [260]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [118]:
#ejemplo 66
print(np.mean(Ar))
print(np.std(Ar))
print(np.sum(Ar))
print(np.max(Ar))

6.416666666666667
3.4751099103321734
77
15

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [119]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [261]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [120]:
#ejemplo 67
precio = [173.73, 185.83, 343.68, 543.02, 652.5, 25.62]
s = pd.Series(precio)
s

0    173.73
1    185.83
2    343.68
3    543.02
4    652.50
5     25.62
dtype: float64

We can customize the indices of a new Series:

In [262]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [121]:
#ejemplo 68
s = pd.Series(precio,index = ['a','b','c','d','e','f'])
s

a    173.73
b    185.83
c    343.68
d    543.02
e    652.50
f     25.62
dtype: float64

Or we can change the indices of an existing Series:

In [263]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [122]:
#ejemplo 69
s.index = [6,5,4,3,2,1]
s

6    173.73
5    185.83
4    343.68
3    543.02
2    652.50
1     25.62
dtype: float64

Series is like a list since it can be sliced by index:

In [264]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [123]:
#ejemplo 70
print(s[2:])
print(s[:-4])

4    343.68
3    543.02
2    652.50
1     25.62
dtype: float64
6    173.73
5    185.83
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [265]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [124]:
#ejemplo 71
print(s[1])
s[1]=1500.6
print(s)

25.62
6     173.73
5     185.83
4     343.68
3     543.02
2     652.50
1    1500.60
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [266]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [125]:
#ejemplo 72
s = pd.Series(precio, name = 'precio de objetos')
print(s)
print(s.name)

0    173.73
1    185.83
2    343.68
3    543.02
4    652.50
5     25.62
Name: precio de objetos, dtype: float64
precio de objetos

We can get the statistical summaries of a Series:

In [267]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [126]:
#ejemplo 73
print(s.describe())

count      6.000000
mean     320.730000
std      239.544485
min       25.620000
25%      176.755000
50%      264.755000
75%      493.185000
max      652.500000
Name: precio de objetos, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [268]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [127]:
#ejemplo 74
time_index = pd.date_range('2021-10-20',periods = len(s),freq = 'M')
#"la M, D ,A me canvia el parametro que va a sumar uno, sea dia, mes o año"
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31'],
              dtype='datetime64[ns]', freq='M')
2021-10-31    173.73
2021-11-30    185.83
2021-12-31    343.68
2022-01-31    543.02
2022-02-28    652.50
2022-03-31     25.62
Freq: M, Name: precio de objetos, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [269]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [128]:
#ejemplo 75
s.index = [10,7,5,3,20,19]
print(s)
print(s[10])

10    173.73
7     185.83
5     343.68
3     543.02
20    652.50
19     25.62
Name: precio de objetos, dtype: float64
173.73

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [270]:
print(s.iloc[1])

145.83

In [129]:
#ejemplo 76
print(s.iloc[3])

543.02

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [271]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [130]:
#ejemplo 77
s.index = time_index
print(s['2021-11-30'])

185.83

We can even access to a range of dates:

In [272]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [131]:
#ejemplo 78
print(s['2021-10-31':'2022-01-31'])

2021-10-31    173.73
2021-11-30    185.83
2021-12-31    343.68
2022-01-31    543.02
Freq: M, Name: precio de objetos, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [273]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [132]:
#ejemplo 79
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 20*np.std(s))])

2021-10-31    173.73
2021-11-30    185.83
2022-03-31     25.62
Name: precio de objetos, dtype: float64
[2021-10-31    False
2021-11-30    False
2021-12-31     True
2022-01-31     True
2022-02-28     True
2022-03-31    False
Freq: M, Name: precio de objetos, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [133]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.1 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=52b4c64dfa1de9f526b56775a5ef1f914ff696242fd327cdcacd7aa3946518cd
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [274]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.815, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.35, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.296, 'beta3Year': None, 'enterpriseToEbitda': 22.832, '52WeekChange': 0.27286732, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58676, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3155439, 'priceToBook': 38.33462, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2532822482944, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.086004, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.246033, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.76, 'regularMarketOpen': 148.7, 'twoHundredDayAverage': 139.00964, 'trailingAnnualDividendYield': 0.005613068, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.7522, 'navPrice': None, 'averageDailyVolume10Day': 73697228, 'regularMarketPreviousClose': 148.76, 'fiftyDayAverage': 146.47115, 'trailingAnnualDividendRate': 0.835, 'open': 148.7, 'toCurrency': None, 'averageVolume10days': 73697228, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.12, 'currency': 'USD', 'trailingPE': 29.133713, 'regularMarketVolume': 43656874, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2459941732352, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76845849, 'dayLow': 148.12, 'ask': 148.55, 'askSize': 1100, 'volume': 43656874, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.54, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1000, 'dayHigh': 149.7522, 'regularMarketPrice': 148.815, 'preMarketPrice': 148.7, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379041  24.402094  23.609056  ...  223164000        0.0             0
2016-01-06  23.182567  23.599836  23.023499  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719191  22.848290  22.306534  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946561  41.150098  40.822044  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

In [135]:
#ejemplo 80
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2017-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.415, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.35, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.296, 'beta3Year': None, 'enterpriseToEbitda': 22.832, '52WeekChange': 0.27286732, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58676, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3155439, 'priceToBook': 38.23158, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2532822482944, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.066957, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.175484, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.76, 'regularMarketOpen': 148.7, 'twoHundredDayAverage': 139.00964, 'trailingAnnualDividendYield': 0.005613068, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.7522, 'navPrice': None, 'averageDailyVolume10Day': 73697228, 'regularMarketPreviousClose': 148.76, 'fiftyDayAverage': 146.47115, 'trailingAnnualDividendRate': 0.835, 'open': 148.7, 'toCurrency': None, 'averageVolume10days': 73697228, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.12, 'currency': 'USD', 'trailingPE': 29.055403, 'regularMarketVolume': 41013579, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2453329412096, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76845849, 'dayLow': 148.12, 'ask': 148.44, 'askSize': 1400, 'volume': 41013579, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.43, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 800, 'dayHigh': 149.7522, 'regularMarketPrice': 148.415, 'preMarketPrice': 148.7, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-03  27.289882  27.414784  27.044791  ...  115127600        0.0             0
2017-01-04  27.301666  27.457205  27.278100  ...   84472400        0.0             0
2017-01-05  27.318154  27.539678  27.292231  ...   88774400        0.0             0
2017-01-06  27.520829  27.846046  27.447774  ...  127007600        0.0             0
2017-01-09  27.796556  28.145340  27.794201  ...  134247600        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[251 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [275]:
aapl = aapl_table['Close']['2017']

In [276]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341728
2017-01-05    27.480772
2017-01-06    27.787132
2017-01-09    28.041649
                ...
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965717
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

In [136]:
#ejemplo 81
aapl = aapl_table['Close']['2017']

In [137]:
#ejemplo 82
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341728
2017-01-05    27.480762
2017-01-06    27.787130
2017-01-09    28.041647
                ...
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [277]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889839
2017-03-03    33.083916
2017-03-06    32.979774
2017-03-07    33.022385
2017-03-08    32.899311
2017-03-09    32.823563
2017-03-10    32.932430
2017-03-13    32.946644
2017-03-14    32.896938
2017-03-15    33.244865
2017-03-16    33.299290
2017-03-17    33.133617
2017-03-20    33.481552
2017-03-21    33.098114
2017-03-22    33.472076
2017-03-23    33.353737
2017-03-24    33.287468
2017-03-27    33.344273
2017-03-28    34.035397
2017-03-29    34.111126
2017-03-30    34.066162
2017-03-31    34.002258
Name: Close, dtype: float64

In [138]:
#ejemplo 83
print(aapl['2017-9'])

Date
2017-09-01    39.141655
2017-09-05    38.671623
2017-09-06    38.631065
2017-09-07    38.475975
2017-09-08    37.848476
2017-09-11    38.533230
2017-09-12    38.380531
2017-09-13    38.091827
2017-09-14    37.764954
2017-09-15    38.146713
2017-09-18    37.858009
2017-09-19    37.872326
2017-09-20    37.237656
2017-09-21    36.598221
2017-09-22    36.240326
2017-09-25    35.920605
2017-09-26    36.538578
2017-09-27    36.798634
2017-09-28    36.571980
2017-09-29    36.772396
Name: Close, dtype: float64

In [278]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341728
2017-02-02    30.289883
2017-02-03    30.419498
2017-02-06    30.704651
2017-02-07    30.996868
                ...
2017-04-24    33.997520
2017-04-25    34.208172
2017-04-26    34.006989
2017-04-27    34.033020
2017-04-28    33.999886
Name: Close, Length: 61, dtype: float64

In [139]:
#ejemplo 84
aapl['2017-9':'2017-12']

Date
2017-09-01    39.141655
2017-09-05    38.671623
2017-09-06    38.631065
2017-09-07    38.475975
2017-09-08    37.848476
                ...
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, Length: 83, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [279]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341728
2017-01-05    27.480772
2017-01-06    27.787132
2017-01-09    28.041649
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244404
2017-12-19    41.794231
2017-12-20    41.748734
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965717
2017-12-29    40.522732
Name: Close, dtype: float64

In [140]:
#ejemplo 85
print(aapl.head(2))
print(aapl.tail(3))

Date
2017-01-03    27.372364
2017-01-04    27.341728
Name: Close, dtype: float64
Date
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [282]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178333
2017-02-28    31.606276
2017-03-31    33.282218
2017-04-30    33.819263
2017-05-31    36.125682
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604740
2017-10-31    37.654552
2017-11-30    41.233915
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [281]:
#ejemplo 86
by_month = aapl.resample('9W').mean()
print(by_month)

Date
2017-01-08    27.495499
2017-03-12    30.647009
2017-05-14    34.120814
2017-07-16    35.384033
2017-09-17    37.487501
2017-11-19    38.486809
2018-01-21    41.214838
Freq: 9W-SUN, Name: Close, dtype: float64

We can also aggregate the data by week:

In [285]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495499
2017-01-15    28.097735
2017-01-22    28.266116
2017-01-29    28.553981
2017-02-05    29.662544
Freq: W-SUN, Name: Close, dtype: float64

In [284]:
#ejemplo 87
by_week = aapl.resample('8W').mean()
print(by_week.head(3))
print(by_week.tail(3))

Date
2017-01-08    27.495499
2017-03-05    30.346420
2017-04-30    33.564025
Freq: 8W-SUN, Name: Close, dtype: float64
Date
2017-10-15    37.647616
2017-12-10    40.189889
2018-02-04    41.385107
Freq: 8W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [286]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451969
2017-03-31    34.111126
2017-04-30    34.264969
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471706
2017-08-31    39.129730
2017-09-30    39.141659
2017-10-31    40.332253
2017-11-30    42.050140
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

In [143]:
#ejemplo 88
aapl.resample('W').max()

Date
2017-01-08    27.787130
2017-01-15    28.220753
2017-01-22    28.279671
2017-01-29    28.739210
2017-02-05    30.419502
2017-02-12    31.341908
2017-02-19    32.122978
2017-02-26    32.451965
2017-03-05    33.086281
2017-03-12    33.022381
2017-03-19    33.299309
2017-03-26    33.481552
2017-04-02    34.111130
2017-04-09    34.264973
2017-04-16    33.886276
2017-04-23    33.713505
2017-04-30    34.208179
2017-05-07    35.256702
2017-05-14    37.099129
2017-05-21    37.004059
2017-05-28    36.597656
2017-06-04    36.944641
2017-06-11    36.925632
2017-06-18    34.838959
2017-06-25    34.779541
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891808
2017-07-30    36.471699
2017-08-06    37.346294
2017-08-13    38.277935
2017-08-20    38.557098
2017-08-27    38.170563
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533230
2017-09-24    37.872326
2017-10-01    36.798634
2017-10-08    37.075405
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903065
2017-11-05    41.157784
2017-11-12    42.050137
2017-11-19    41.657742
2017-11-26    41.897198
2017-12-03    41.686474
2017-12-10    40.659222
2017-12-17    41.657742
2017-12-24    42.244400
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [287]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398287
2017-01-06    27.787132
2017-01-09    28.110776
2017-01-12    28.078175
2017-01-15    28.279669
                ...
2017-12-17    42.019318
2017-12-20    41.854093
2017-12-23          NaN
2017-12-26    40.886701
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495499
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516816
2017-03-05    32.595558
2017-03-19    33.017882
2017-04-02    33.625216
2017-04-16    33.849730
2017-04-30    33.791843
2017-05-14    35.697630
2017-05-28    36.496176
2017-06-11    36.515007
2017-06-25    34.529045
2017-07-09    34.265134
2017-07-23    35.278872
2017-08-06    36.272776
2017-08-20    37.904118
2017-09-03    38.458794
2017-09-17    38.282710
2017-10-01    36.840875
2017-10-15    37.071595
2017-10-29    37.757323
2017-11-12    41.032238
2017-11-26    41.204378
2017-12-10    40.867065
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178333
2017-03-31    32.524054
2017-05-31    35.056854
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402613
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [144]:
#ejemplo 89
three_day = aapl.resample('28D').mean()
two_week = aapl.resample('4W').mean()
two_month = aapl.resample('3M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    28.156254
2017-01-31    31.404920
2017-02-28    33.084983
2017-03-28    33.817518
2017-04-25    35.605699
2017-05-23    35.867912
2017-06-20    34.562018
2017-07-18    36.628511
2017-08-15    38.365842
2017-09-12    37.114065
2017-10-10    38.478715
2017-11-07    41.308802
2017-12-05    41.199056
Freq: 28D, Name: Close, dtype: float64
Date
2017-01-08    27.495496
2017-02-05    28.665041
2017-03-05    32.027797
2017-04-02    33.321550
2017-04-30    33.819262
2017-05-28    36.096903
2017-06-25    35.469765
2017-07-23    34.798680
2017-08-20    37.088447
2017-09-17    38.375386
2017-10-15    36.956235
2017-11-12    39.394778
2017-12-10    41.026846
2018-01-07    41.385108
Freq: 4W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178333
2017-04-30    32.927479
2017-07-31    35.509648
2017-10-31    37.725095
2018-01-31    41.197878
Freq: 3M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [288]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203367
2017-01-15    0.072529
2017-01-22    0.025555
2017-01-29    0.245289
2017-02-05    0.943261
2017-02-12    0.251999
2017-02-19    0.231391
2017-02-26    0.059344
2017-03-05    0.340088
2017-03-12    0.076286
2017-03-19    0.177830
2017-03-26    0.157264
2017-04-02    0.319806
2017-04-09    0.128685
2017-04-16    0.212479
2017-04-23    0.174670
2017-04-30    0.090025
2017-05-07    0.235638
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060393
2017-06-04    0.281223
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128896
2017-07-02    0.264109
2017-07-09    0.158889
2017-07-16    0.404280
2017-07-23    0.124990
2017-07-30    0.384440
2017-08-06    0.924391
2017-08-13    0.467468
2017-08-20    0.435252
2017-08-27    0.275766
2017-09-03    0.251723
2017-09-10    0.381637
2017-09-17    0.294140
2017-09-24    0.735194
2017-10-01    0.354840
2017-10-08    0.204858
2017-10-15    0.118731
2017-10-22    0.516999
2017-10-29    0.680455
2017-11-05    0.560684
2017-11-12    0.190971
2017-11-19    0.436198
2017-11-26    0.563044
2017-12-03    0.427445
2017-12-10    0.073131
2017-12-17    0.205265
2017-12-24    0.194125
2017-12-31    0.190391
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220751
2017-01-22    28.279669
2017-01-29    28.739214
2017-02-05    30.419498
2017-02-12    31.341906
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086285
2017-03-12    33.022385
2017-03-19    33.299290
2017-03-26    33.481552
2017-04-02    34.111126
2017-04-09    34.264969
2017-04-16    33.886292
2017-04-23    33.713501
2017-04-30    34.208172
2017-05-07    35.256691
2017-05-14    37.099129
2017-05-21    37.004055
2017-05-28    36.597660
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838955
2017-06-25    34.779537
2017-07-02    34.658337
2017-07-09    34.266186
2017-07-16    35.421223
2017-07-23    35.891804
2017-07-30    36.471706
2017-08-06    37.346298
2017-08-13    38.277931
2017-08-20    38.557102
2017-08-27    38.170570
2017-09-03    39.141659
2017-09-10    38.671619
2017-09-17    38.533237
2017-09-24    37.872322
2017-10-01    36.798630
2017-10-08    37.075413
2017-10-15    37.457165
2017-10-22    38.287487
2017-10-29    38.903061
2017-11-05    41.157787
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897194
2017-12-03    41.686478
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244404
2017-12-31    40.965717
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341728
2017-01-15    28.041649
2017-01-22    28.227819
2017-01-29    28.272598
2017-02-05    28.597815
2017-02-12    30.704651
2017-02-19    31.547829
2017-02-26    32.314697
2017-03-05    32.409374
2017-03-12    32.823563
2017-03-19    32.896938
2017-03-26    33.098114
2017-04-02    33.344273
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997520
2017-05-07    34.681538
2017-05-14    36.215263
2017-05-21    35.708801
2017-05-28    36.443176
2017-06-04    36.305336
2017-06-11    35.406971
2017-06-18    33.812256
2017-06-25    34.463444
2017-07-02    34.147362
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544811
2017-07-30    35.530560
2017-08-06    35.347553
2017-08-13    37.058708
2017-08-20    37.578854
2017-08-27    37.509659
2017-09-03    38.526085
2017-09-10    37.848465
2017-09-17    37.764957
2017-09-24    36.240330
2017-10-01    35.920612
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216187
2017-10-29    37.261517
2017-11-05    39.778706
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702324
2017-12-03    40.582592
2017-12-10    40.470047
2017-12-17    41.114189
2017-12-24    41.748734
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [145]:
#ejemplo 90
std = aapl.resample('M').std()
max = aapl.resample('8W').max()
min = aapl.resample('8W').min()


print(std)
print(max)
print(min)

Date
2017-01-31    0.425089
2017-02-28    0.773845
2017-03-31    0.407926
2017-04-30    0.291041
2017-05-31    0.760190
2017-06-30    1.053870
2017-07-31    0.774827
2017-08-31    0.767477
2017-09-30    0.943682
2017-10-31    0.946220
2017-11-30    0.638006
2017-12-31    0.551569
Freq: M, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-03-05    33.086281
2017-04-30    34.264973
2017-06-25    37.099129
2017-08-20    38.557098
2017-10-15    39.141655
2017-12-10    42.050137
2018-02-04    42.244400
Freq: 8W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341728
2017-03-05    28.041647
2017-04-30    32.823563
2017-06-25    33.812263
2017-08-20    33.921589
2017-10-15    35.920605
2017-12-10    37.216179
2018-02-04    40.522732
Freq: 8W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [289]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597815
2017-02-28    32.423565
2017-03-31    34.002258
2017-04-30    33.999886
2017-05-31    36.305336
2017-06-30    34.228168
2017-07-31    35.347553
2017-08-31    39.129730
2017-09-30    36.772388
2017-10-31    40.332253
2017-11-30    41.150093
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

In [146]:
#ejemlo 91
last_day = aapl.resample('8W').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-08    27.787130
2017-03-05    33.083916
2017-04-30    33.999889
2017-06-25    34.765285
2017-08-20    37.578850
2017-10-15    37.457165
2017-12-10    40.556259
2018-02-04    40.522732
Freq: 8W-SUN, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [290]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060531
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [147]:
#ejemplo 92
monthly_return = aapl.resample('8W').agg(lambda x: x[-1]*x[0]-8 )
print(monthly_return)

Date
2017-01-08     752.599448
2017-03-05     919.727484
2017-04-30    1113.308684
2017-06-25    1198.125206
2017-08-20    1294.330688
2017-10-15    1397.005470
2017-12-10    1539.087989
2018-02-04    1667.471445
Freq: 8W-SUN, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [291]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863268386694034
0.05225863632361363
0.0990184997868564

In [148]:
#ejemplo 93
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

1235.2070518883002
306.487518892641
1667.4714452583867

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [292]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825750
2017-03-31    1.578693
2017-04-30   -0.002373
2017-05-31    2.305450
2017-06-30   -2.077168
2017-07-31    1.119385
2017-08-31    3.782177
2017-09-30   -2.357342
2017-10-31    3.559864
2017-11-30    0.817841
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [149]:
#ejemplo 94
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-08         NaN
2017-03-05    5.296785
2017-04-30    0.915974
2017-06-25    0.765396
2017-08-20    2.813564
2017-10-15   -0.121685
2017-12-10    3.099094
2018-02-04   -0.033527
Freq: 8W-SUN, Name: Close, dtype: float64
Date
2017-01-08         NaN
2017-03-05    0.190620
2017-04-30    0.027686
2017-06-25    0.022512
2017-08-20    0.080930
2017-10-15   -0.003238
2017-12-10    0.082737
2018-02-04   -0.000827
Freq: 8W-SUN, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [293]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [150]:
#ejemplo 95
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-08    0.000000
2017-03-05    0.190620
2017-04-30    0.027686
2017-06-25    0.022512
2017-08-20    0.080930
2017-10-15   -0.003238
2017-12-10    0.082737
2018-02-04   -0.000827
Freq: 8W-SUN, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [294]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [152]:
#ejemplo 96
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-08    0.190620
2017-03-05    0.190620
2017-04-30    0.027686
2017-06-25    0.022512
2017-08-20    0.080930
2017-10-15   -0.003238
2017-12-10    0.082737
2018-02-04   -0.000827
Freq: 8W-SUN, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [295]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [153]:
#ejemplo 97
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-03-05    0.190620
2017-04-30    0.027686
2017-06-25    0.022512
2017-08-20    0.080930
2017-10-15   -0.003238
2017-12-10    0.082737
2018-02-04   -0.000827
Freq: 8W-SUN, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [296]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [156]:
#ejemplo 98
import pandas as pd

dict = {'AAPL': [153.5, 188.09, 112.73, 194.18, 93.77],'GOOG':[89.7, 91.71, 96.69, 98.59, 76.99],
        'IBM':[15.58, 353.67, 352.36, 552.94, 653.49]}
data_index = pd.date_range('2017-06-03',periods = 5, freq = 'M')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL   GOOG     IBM
2017-06-30  153.50  89.70   15.58
2017-07-31  188.09  91.71  353.67
2017-08-31  112.73  96.69  352.36
2017-09-30  194.18  98.59  552.94
2017-10-31   93.77  76.99  653.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [297]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965717
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [158]:
#ejemplo 99
df = aapl_table
print(df.Close.tail(6))
print(df['Volume'].tail(6))

Date
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-21     83799600
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [299]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('2M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852386  22.440248  21.750950  ...  257666000        0.0             0
2016-03-31  25.431518  25.473240  25.236817  ...  103553600        0.0             0
2016-05-31  23.226407  23.412965  23.044514  ...  169228800        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-09-30  26.367382  26.580742  26.212639  ...  145516400        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2017-01-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[7 rows x 7 columns]

In [164]:
#ejemplo 100
aapl_2017 = df['2017']
aapl_month = aapl_2017.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  28.550684  28.607243  28.425783  ...  196804000        0.0             0
2017-02-28  32.444862  32.530069  32.354920  ...   93931600        0.0             0
2017-03-31  34.016451  34.146629  33.848403  ...   78646800        0.0             0
2017-04-30  34.104032  34.153737  33.909951  ...   83441600        0.0             0
2017-05-31  36.592909  36.640441  36.215027  ...   97804800        0.0             0
2017-06-30  34.330362  34.451572  34.171128  ...   92096400        0.0             0
2017-07-31  35.625622  35.727819  35.204962  ...   79383600        0.0             0
2017-08-31  39.043832  39.253797  39.005656  ...  107140400        0.0             0
2017-09-30  36.555277  36.774784  36.266574  ...  105199200        0.0             0
2017-10-31  40.060250  40.477792  39.831199  ...  144187200        0.0             0
2017-11-30  40.810073  41.219541  40.333563  ...  166108800        0.0             0
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [300]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-11-30  26.300090  26.441488  25.986656  26.045572
2017-01-31  27.490193  27.619807  27.202683  27.294592

In [165]:
#ejemplo 101
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016451  34.146629  33.848403  34.002251
2017-04-30  34.104032  34.153737  33.909951  33.999889
2017-05-31  36.592909  36.640441  36.215027  36.305336
2017-06-30  34.330362  34.451572  34.171128  34.228168
2017-07-31  35.625622  35.727819  35.204962  35.347557
2017-08-31  39.043832  39.253797  39.005656  39.129726
2017-09-30  36.555277  36.774784  36.266574  36.772396
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831629  40.848389  40.520339  40.522732

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [301]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-05-31  23.226407  23.412965  23.044514  23.287039

In [ ]:
#ejemplo 102
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [302]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-11-30  26.300090  26.441488  25.986656  26.045572
2017-01-31  27.490193  27.619807  27.202683  27.294592

In [167]:
#ejemplo 103
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2017-05-31  36.592909  36.640441  36.215027  36.305336
2017-08-31  39.043832  39.253797  39.005656  39.129726
2017-09-30  36.555277  36.774784  36.266574  36.772396
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831629  40.848389  40.520339  40.522732

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [303]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.125759
2016-05-31  23.226407  23.412965  23.044514  23.287039    -0.078191
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.043561
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.090705
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.017360
2017-01-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [168]:
#ejemplo 104
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561     0.133778
2017-03-31  34.016451  34.146629  33.848403  34.002251     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000069
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330362  34.451572  34.171128  34.228168    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726     0.106999
2017-09-30  36.555277  36.774784  36.266574  36.772396    -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [304]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-03-31  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-11-30  False  False  False  False        False
2017-01-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count       7      7      7      7           7
unique      1      1      1      1           2
top     False  False  False  False       False
freq        7      7      7      7           6

In [169]:
#ejemplo 105
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True
2017-02-28  False  False  False  False        False
2017-03-31  False  False  False  False        False
2017-04-30  False  False  False  False        False
2017-05-31  False  False  False  False        False
2017-06-30  False  False  False  False        False
2017-07-31  False  False  False  False        False
2017-08-31  False  False  False  False        False
2017-09-30  False  False  False  False        False
2017-10-31  False  False  False  False        False
2017-11-30  False  False  False  False        False
2017-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [305]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [170]:
#ejemplo 106
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [306]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.125759
2016-05-31  23.226407  23.412965  23.044514  23.287039    -0.078191
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.043561
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.090705
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.017360
2017-01-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248     0.000000
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.125759
2016-05-31  23.226407  23.412965  23.044514  23.287039    -0.078191
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.043561
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.090705
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.017360
2017-01-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [173]:
#ejemplo 107
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0 )
print(fill)

                 Open       High        Low      Close  rate_return
Date
2017-02-28  32.444862  32.530069  32.354920  32.423561     0.133778
2017-03-31  34.016451  34.146629  33.848403  34.002251     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000069
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330362  34.451572  34.171128  34.228168    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726     0.106999
2017-09-30  36.555277  36.774784  36.266574  36.772396    -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816     0.000000
2017-02-28  32.444862  32.530069  32.354920  32.423561     0.133778
2017-03-31  34.016451  34.146629  33.848403  34.002251     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000069
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330362  34.451572  34.171128  34.228168    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726     0.106999
2017-09-30  36.555277  36.774784  36.266574  36.772396    -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [307]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [176]:
#ejemplo 108
s1 = pd.Series([163.5, 152.09, 842.73, 264.18, 173.77], name = 'Unal')
s2 = pd.Series([152.7, 321.71, 166.69, 678.59, 366.99], name = 'Andes')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     Unal   Andes
0  163.50  152.70
1  152.09  321.71
2  842.73  166.69
3  264.18  678.59
4  173.77  366.99

The "axis = 1" parameter will join two DataFrames by columns:

In [308]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-03-31    3.229314
2016-05-31    3.147897
2016-07-31    3.190536
2016-09-30    3.277360
2016-11-30    3.259848
2017-01-31    3.306689
Freq: 2M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN   3.110856
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.125759   3.229314
2016-05-31  23.226407  23.412965  23.044514  23.287039    -0.078191   3.147897
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.043561   3.190536
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.090705   3.277360
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.017360   3.259848
2017-01-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [178]:
#ejemplo 109
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2017-01-31    3.353330
2017-02-28    3.478885
2017-03-31    3.526427
2017-04-30    3.526357
2017-05-31    3.591965
2017-06-30    3.533049
2017-07-31    3.565229
2017-08-31    3.666882
2017-09-30    3.604747
2017-10-31    3.697151
2017-11-30    3.717226
2017-12-31    3.701863
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN   3.353330
2017-02-28  32.444862  32.530069  32.354920  32.423561     0.133778   3.478885
2017-03-31  34.016451  34.146629  33.848403  34.002251     0.048690   3.526427
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000069   3.526357
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807   3.591965
2017-06-30  34.330362  34.451572  34.171128  34.228168    -0.057214   3.533049
2017-07-31  35.625622  35.727819  35.204962  35.347557     0.032704   3.565229
2017-08-31  39.043832  39.253797  39.005656  39.129726     0.106999   3.666882
2017-09-30  36.555277  36.774784  36.266574  36.772396    -0.060244   3.604747
2017-10-31  40.060250  40.477792  39.831199  40.332249     0.096808   3.697151
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278   3.717226
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246   3.701863

We can also join two DataFrames by rows. Consider these two DataFrames:

In [309]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550682  28.607241  28.425781  28.597815
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104028  34.153733  33.909947  33.999886

In [183]:
#ejemplo 110 
df_volume = aapl_table.loc['2017-09':'2017-12',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2017-2':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2017-09-30  105199200             0
2017-10-31  144187200             0
2017-11-30  166108800             0
2017-12-31  103999600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016451  34.146629  33.848403  34.002251
2017-04-30  34.104032  34.153737  33.909951  33.999889

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [310]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852386  22.440248  ...          NaN           NaN
2016-03-31  25.431518  25.473240  ...          NaN           NaN
2016-05-31  23.226407  23.412965  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-09-30  26.367382  26.580742  ...          NaN           NaN
2016-10-31        NaN        NaN  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31        NaN        NaN  ...  122345200.0           0.0
2017-01-31  27.490193  27.619807  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[12 rows x 7 columns]

In [187]:
#ejemplo 111
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2017-01-31  28.550684  28.607243  ...          NaN           NaN
2017-02-28  32.444862  32.530069  ...          NaN           NaN
2017-03-31  34.016451  34.146629  ...          NaN           NaN
2017-04-30  34.104032  34.153737  ...          NaN           NaN
2017-05-31  36.592909  36.640441  ...          NaN           NaN
2017-06-30  34.330362  34.451572  ...          NaN           NaN
2017-07-31  35.625622  35.727819  ...          NaN           NaN
2017-08-31  39.043832  39.253797  ...          NaN           NaN
2017-09-30  36.555277  36.774784  ...  105199200.0           0.0
2017-10-31  40.060250  40.477792  ...  144187200.0           0.0
2017-11-30  40.810073  41.219541  ...  166108800.0           0.0
2017-12-31  40.831629  40.848389  ...  103999600.0           0.0

[12 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [311]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-11-30  26.300090  26.441488  ...  144649200             0
2017-01-31  27.490193  27.619807  ...  196804000             0

[2 rows x 7 columns]

In [188]:
#ejemplo 112
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2017-09-30  36.555277  36.774784  ...  105199200             0
2017-10-31  40.060250  40.477792  ...  144187200             0
2017-11-30  40.810073  41.219541  ...  166108800             0
2017-12-31  40.831629  40.848389  ...  103999600             0

[4 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [312]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.125759
2016-05-31  23.226407  23.412965  23.044514  23.287039    -0.078191
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.043561
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.090705
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.017360
2017-01-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [189]:
#ejemplo 113
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561     0.133778
2017-03-31  34.016451  34.146629  33.848403  34.002251     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000069
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330362  34.451572  34.171128  34.228168    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726     0.106999
2017-09-30  36.555277  36.774784  36.266574  36.772396    -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [313]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.125759
2016-05-31  23.226407  23.412965  23.044514  23.287039    -0.078191
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.043561
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.090705
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.017360
2017-01-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [190]:
#ejemplo 114
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561     0.133778
2017-03-31  34.016451  34.146629  33.848403  34.002251     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000069
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330362  34.451572  34.171128  34.228168    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726     0.106999
2017-09-30  36.555277  36.774784  36.266574  36.772396    -0.060244
2017-10-31  40.060250  40.477792  39.831199  40.332249     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [314]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN        NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.125759        NaN
2016-05-31  23.226407  23.412965  23.044514  23.287039    -0.078191        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.043561        NaN
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.090705        NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.017360        NaN
2017-01-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441488  25.986656  26.045572          NaN  26.300090
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607241  28.425781  28.597815          NaN  28.550682
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146637  33.848410  34.002258          NaN  34.016459
2017-04-30        NaN  34.153733  33.909947  33.999886          NaN  34.104028

In [191]:
#ejemplo 115
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN        NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561     0.133778        NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251     0.048690        NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000069        NaN
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807        NaN
2017-06-30  34.330362  34.451572  34.171128  34.228168    -0.057214        NaN
2017-07-31  35.625622  35.727819  35.204962  35.347557     0.032704        NaN
2017-08-31  39.043832  39.253797  39.005656  39.129726     0.106999        NaN
2017-09-30  36.555277  36.774784  36.266574  36.772396    -0.060244        NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249     0.096808        NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278        NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246        NaN
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146629  33.848403  34.002251          NaN  34.016451
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.